div {    
    background-image: url(../images/DogCorrendo.jpg);
    background-size: cover;
    background-position: 50%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    margin:  auto;
    padding: 20px 0;
    border-radius: 10px 10px 0px 0px;
    filter: brightness(1.2);
}

div h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: rgb(2, 250, 237);
    text-shadow: 2px 2px 4px #023dff;
    text-align: center;
    padding-top: 10px;
}

div h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    padding-left: 40px;
}

div h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    padding-left: 40px;
    padding-top: 20px;
}

div ul {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    list-style: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    text-align: left ;
    padding-left: 60px;
}
button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #07c8fd;
    box-shadow: #023dff 0px 0px 15px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

footer {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 0, 0);
    position:relative;

}
